body{
	background 	: #F0EFF4;
}

a {
    color: black;

}

a:hover	{
	color:                #F0EFF4;
  text-decoration:      none;
}

h5:hover {
  color:                #F0EFF4;
  text-decoration:      none;
}


.panel {
    padding: 0 18px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion  {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.nav{
    list-style:       none;
    display:          inline-block;
    right:            50px;
    position:         absolute;
    margin:           0px;
    z-index:          99999;
    padding:          0px;

}

.nav li{
  display:            inline-block;
  color:              #F0EFF4;
  text-decoration:    none;
}

.nav a{
    display:          inline-block;
    color:            #404040;
    text-align:       center;
    text-decoration:  none;
    font-size:        10pt;
    font-family:      sans-serif;
    border:           2px solid white;
    border-spacing:   0px;
    margin-right:     -7px;
    font-family:      'Roboto', sans-serif;
    letter-spacing:   2px;

}

/* Header Sectopm*/

.container {

  /*blue color*/
  height:           450px;
  position:         relative;

}


/* background colors for homepage*/


.container1 {

  background:       rgba(218, 65, 103, .7);
	height:				    auto;
  padding-left:     2%;
  position:         relative;
}

.container2 {

  background:         rgba(131, 33, 97, .7);
	height:				      auto;
	margin-top: 		    -20px;
  padding-left:        2%;
  position:            relative;




}


.container3 .col-sm-12 {

  /*Purple color*/
  max-width:          100%;

}

.container3 {

	/*Purple color*/
  max-width:          100%;
	/*background: 		    #3D2645;*/
  background:         rgba(61, 38, 69, .7);
/*  border-style: 		  solid;
    border-color: 		#F0EFF4;
    border-width: 		10px;*/
	height:				      auto;
	margin-top: 		   -20px;
/*	box-shadow:        -5px -3px 5px #b2aeae;
*/  padding-left:       2%;
  position:           relative;


}




/*h3 for homepage*/

h3 {
	text-indent: 		0px;
	font-size: 			150px;
  font-family:    'Oswald', sans-serif;
	margin-top:			50px; 
  color:          #F7F052;
  padding-top:    50px;
  text-align:     center;

}


h5 {
  text-indent:    0px;
  font-size:      20px;
  font-family:   'Roboto', sans-serif;
  margin-top:     20px; 
  color:          #F0EFF4;

}


/* link color*/

a {
    color:  #404040;
}

/* About me page */

h4 {
  text-indent:    0px;
  font-size:      20px;
  font-family:   'Roboto', sans-serif;
  margin-top:     20px; 
  margin-bottom:  0px;
  color:          #F0EFF4;
  text-align:     left;
  letter-spacing: 1px;

}


.container4 {

	/*blue color*/
	background: 		    #BED4F1;
	border-style: 		  solid;
    border-color: 		#F0EFF4;
    border-width: 		30px;
    padding: 			    30px;
    width:				    auto;

}


h2 {
	text-indent: 		0px;
	font-size: 			40px;
	color:				  #404040;
	font-family:   'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top:     20px; 

}

.col-xs-12 .col-sm-12 .col-md-12 .col-lg-12 h2 {
  text-indent:    10px;
  font-size:      20px;
  color:        #404040;
  font-family:      'Roboto', sans-serif;
    letter-spacing:   1px;
    margin-top:       10px; 
    margin-bottom:    20px;

}

h6 {
  text-indent:    0px;
  font-size:      20px;
  color:          #404040;
  font-family:   'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top:     10px; 
  margin-bottom:  20px;

}


p {
  margin-top:       20px;
	padding-left:  		0px;
	padding-right: 		50px;	
	font-size: 			  18px;
	letter-spacing: 	1px;
 	font-family:      'Roboto', sans-serif;
 	color:				    #F0EFF4;

}


#bar p {
  margin-top:       20px;
  padding-left:     0px;
  padding-right:    50px; 
  font-size:        18px;
  letter-spacing:   1px;
  font-family:      'Roboto', sans-serif;
  color:            #666666;

}


/*circles in About Me page*/

/*1st version*/

#bar {
  padding-left:         0px;
}

#bar h6 {
  font-size:            30px;
}

#circle {
	width: 					      300px;
	height: 				      300px;
	-moz-border-radius: 	150px;
	-webkit-border-radius:150px;
	border-radius: 			  150px;
	border: 				      6px solid white;
	text-align: 			    center;


}

#circle span { 
   height: 					280px; 
   display: 				inline-block; 
  /* zoom: 					  1; 
   *display: 				inline; */
   vertical-align: 	middle;

 }



#circle h1 { 
   display: 				inline-block; 
   zoom: 					  1.5; 
   *display: 				inline; 
   vertical-align: 	middle;
   color: 					#535353;
   font-size:				20px;
   font-family:     'Roboto', sans-serif;

 }


#circle2 {
	width: 					       150px;
	height: 				       150px;
	-moz-border-radius: 	  75px;
	-webkit-border-radius: 	75px;
	border-radius: 			    75px;
	border: 				       5px solid white;
	text-align: 			     center;

}

.col-xs-4 #circle2 {
  width:                 100px;
  height:                100px;
  -moz-border-radius:     50px;
  -webkit-border-radius:  50px;
  border-radius:          50px;
  border:                5px solid white;
  text-align:            center;

}


#circle2 span { 
   height: 					80px; 
/*   display: 				inline-block; 
*/   zoom: 					  1; 
/*   *display: 				inline; 
   vertical-align: 	middle;*/
   margin-top:      50px;
}

.col-sm-4 #circle2 span { 
   height:          80px; 
   display:         inline-block; 
   zoom:            1; 
   *display:        inline; 
   vertical-align:  middle;
   margin-top:      0px;

 }

#circle2 h1 { 
   display: 				inline-block; 
   zoom: 					  0; 
/*   *display: 				inline;
*/ vertical-align: 	middle;
   color: 					#535353;
   font-size:				20px;
   font-family:     'Roboto', sans-serif;

 }

 .col-xs-4 #circle2 h1 { 
   display:         inline-block; 
   zoom:            0; 
   */*display:        inline; */
   vertical-align:  middle;
   color:           #535353;
   font-size:       16px;
   font-family:     'Roboto', sans-serif;

}

#padding {
  margin-left:      40px;
  margin-right:     40px;
}

#paddingB h2 {
  margin-left:      70px;
}

 li {
 	font-size: 			 	 18px;
 	color:					   #666666;
 	font-family:       'Roboto', sans-serif;
 	letter-spacing: 	 1px;
  list-style-type:   circle;


 }


.col-sm-12 h1 {
   color: 					#404040;
   font-size:				22px;
   padding-left: 		50px;
   margin-bottom:   -10px;
   font-family:     'Roboto', sans-serif;



 }

 hr {
 	margin-top:       50px;
 	margin-bottom:    50px;

 }

 /* Progress bar


.progress.active .progress-bar {
   -webkit-transition:    none !important;
   transition:            none !important;
 }

/*  Work Page Container */

.container5 {

	/*blue color*/
	background: 		    #DDD8D2;
	border-style: 		  solid;
    border-color: 		#F0EFF4;
    border-width: 		30px;
    padding: 			    30px;
    width:				    auto;

}


 /*Image in a circle*/

 .img-circle {
 	display: block;
 	width: 350px;
 	height: 350px;
    border-radius: 50%;
    filter: grayscale(100%);  
    text-align:center;
  margin-top: 80px;

}


/* alert*/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: #F0EFF4;
}

.closebtn {
    margin-left:    15px;
    color:          #F0EFF4;
    font-weight:    bold;
    float:          right;
    font-size:      22px;
    line-height:    20px;
    cursor:         pointer;
    transition:     0.3s;
}

.closebtn:hover {
    color:          #404040;

}

/*contact page*/

.container6 {

  /*purple color*/
  background:         rgba(61, 38, 69, .7);;
  border-style:       solid;
    border-color:     #F0EFF4;
    border-width:     30px;
    padding:          30px;
    width:            auto;

}

.container7 {
  border-style:       solid;
    border-color:     #F0EFF4;
    border-width:     30px;
    padding:          30px;
    width:            auto;
    height:           725px;

}


/*footer*/

#footer {
  text-indent:    0px;
  font-size:      10px;
  font-family:   'Roboto', sans-serif;
  color:          #404040;
  text-align:     left;
  letter-spacing: 1px;
  text-align:     center; 
  padding-top:    30px;


}

#footer a:hover {
  color:           #7D82A5;
  text-decoration: none;
}

/*video*/

#video-background {
/*  making the video fullscreen  */
  position:        fixed;
  right:           0; 
  bottom:          0;
  min-width:       100%; 
  min-height:      100%;
  width:           auto; 
  height:          auto;
  z-index:         -100;
  display:        inline-block;
/*  filter: grayscale(100%);
*/}

#link a:hover {
  color:           #7D82A5;
  text-decoration: none;


}

#link {
  margin-left:    50px;
}

.btn {
  position:         absolute;
  right:            5px;
  text-decoration: none;
}

button {
    display:          inline-block;
    text-align:       center;
    text-decoration:  none;
    font-size:        10pt;
    font-family:      sans-serif;
    border:           2px solid white;
    border-spacing:   0px;
    font-family:      'Roboto', sans-serif;
    letter-spacing:   2px;
    padding:          10px;
    margin:           5px;
}

.btn a:hover {
  color:              #7D82A5;
  text-decoration:    none;
}

/* visited link */
.btn a:visited {
    color:           #F0EFF4;
    text-decoration: none;
}

/* selected link */
.btn a:active {
    color:            #F0EFF4;
    text-decoration:  none;
}

.center {

   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}

#client {
  background-color: #404040;
  color:            #F0EFF4;
  padding:          10px;
}


/* typewriter affect*/

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;  /*Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 6s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/*Talk Bubble*/

/*Right*/

#talkbubble {
   width: 70%;
   height: auto;
   background: white;
   position: relative;
   border-radius: 0px;
   margin: 100px auto;
   padding: 50px;

}

p #talkbuble {
  color:black;
}

#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   bottom: 0px;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-right: 20px solid white;
   border-bottom: 0px solid transparent;
 

}

/*Left*/

#talkbubble_Left {
   width: 55%;
   height: auto;
   background: white;
   position: relative;
   border-radius: 0px;
/*   margin: 100px auto;
*/   padding: 50px;
   margin-left: 10%;
   margin-right: 2%;
   
}

#talkbubble_Left:before {
   content:"";
   position: absolute;
   left: 100%;
   bottom: 0px;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-left: 20px solid white;
   border-bottom: 0px solid transparent;
   
}

/*End of Talk Bubble*/

#emoji_right {
  right: 5%;
  height: 50%;
  width: auto;
  display: block;
  position: absolute;
  padding: 0px;
  top: 0%;
}

#emoji_left {
  margin-top: -20%;
  left: 0%;
  height: 70%;
  width: auto;
  display: block;
  position: absolute;
  padding: 0px;
  top: 0%;
 }

/*Shake*/


.content {
  margin: 5% 0 0 0%;
}
.shake {
  display:inline-block
}
.shake {
  display:block;
  position:relative;
}
img{
display: block;
height: 250px;
width: 250px;
border-radius: 50% 50% 50% 50%;
}
h2.shake,
.shake.inline {
  display:inline-block
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 6s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* end of Shake*/