body{
	background-color: green;
	width: 576px;
}

.row {
	width: auto;
	display: inline-block;
}

#LinkedIn {
	float: right;
	position: absolute;
	top: 5px;


}

.LinkedIn {
	width: auto;
	height: 35px;
	float: right;

}


#about {
	width: 450px;
	margin-top: 75px;
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	float: left;

}