body {
/*  background-color: blue;*/
}

h4 {
  font-size:      150px;
  font-family:    'Oswald', sans-serif;
  color:          #F7F052;
  text-align:     center;
  margin-top:     5vw;
  line-height:    150px;
  padding-left:   0px;
  padding-right:  20px;
}

h3{
  font-size:      20px;
  font-family:   'Roboto', sans-serif;
  color:          black;  
  text-align:     left;
  padding-left:   0px;
  padding-right:  20px;
  height:         50px;

}

h5{
  text-align: left;
}

.column_3 {
    float:          left;
    width:          100%;
    padding-left:   40px;
    padding-right:   40px;
    text-align:     justify;

}

#align {
  margin-top: -110px;
}

#bar {
  padding: 40px;
  width: 100%;
}

section {
  margin-top:     0px;
  margin-left:     0px;
}

#timeline_icon {
  width:          20%; 
  height:         auto; 
  float:          right;
}


button #myBtn, #myBtn1, #myBtn2, #myBtn3, #myBtn4, #myBtn5  {
  z-index:        200;
  margin-top:     -20px;
  float:          right;
  position:       relative;

}



.img-circle {
  height:           50%;
  display:          block;
  margin-left:      auto;
  margin-right:     auto;
  width:            50%;



}

#talkbubble {
   width:           100%;
   height:          auto;
   background:      white;
   position:        relative;
   border-radius:   0px;
   margin:          20px auto;
   padding:         50px;

}
p #talkbubble {
  color:            black;
}

#talkbubble:before {
visibility: hidden;
 

}


img #circle {
display:            block;
height:             250px;
width:              250px;
border-radius:      50% 50% 50% 50%;
}

#px50_bottom {
  padding-bottom: 50px;"
}


/*#work {
  width:            100%;
  margin-top:       3%;
  z-index:          -20;
  text-align:       justify;

  
}*/


#inner {
  height: 300px;
}


.timeline {
  width: 50%;
  display:          block;
  margin-left:      auto;
  margin-right:     auto;
}

.mac2 {
  height:       275px;
  width:        auto;
  padding:      0px; 
  margin-top:   50px; 
}

.work {
  width:            100%;
  height:           100%;
  margin-top:       20px;
  padding-left:     100px;
  padding-right:    100px;
  float:            left;
  display:          inline-block;
  position:         relative;
/*  background-color: #cccccc;*/
/*  overflow:         auto;*/

}

hr {
  margin-top:     20px;
  margin-bottom:  20px;
}


.container {
  height:           350px;
  position:         relative;
}


.container1 {
  margin-top:       150px;
  position:         relative;
}


#video-background {
  width: 240%;
  height: auto;
  left: -300px;

}

.profile_photo {
  padding-top: 20px; 
  padding-left: 50px; 
  padding-right: 50px;
  height: auto; 
  width: 100%; 
  margin-top: 150px;"
}

#profile_bio {
  padding-right: 50px; 
  padding-left: 50px
  margin-top: 0px;"
}


#profile_margin {
  padding-top: 50px;
}