body{
	width: auto;
	min-width: 961px;
	height: auto;
	background-color: #000000;
}

.row_work{
	width: auto;
	position: relative;
} 

/*Name Logo*/

h1 {
	width: auto;
	height: 216px;
	font-family: Arial;
	font-size: 68.3px;
	letter-spacing: 3.8px;
	text-align: left;
	color: #ffffff;
	padding-top: 108px;
}


p {
	font-size: 18px;
}

/*linkein */

.center-div {
     margin: 0 auto;
     width: 100px; 
}

#LinkedIn {
	padding-top: 34px;
	right: 0px;
	position: static;
}

.LinkedIn {
	width: auto;
	height: 35px;
	position: relative;
}

/* About section*/

#about {
	width: 641px;
	margin-top: 200px;
	position: relative;

}


/* Work section*/

/* wider and darker grey square*/

.large_grey_rectangle{
	width: auto;
	height: 485px;
	opacity: 0.86;
	background-color: #cccccc;
	margin-top: 100px;
	z-index: 1;
	position: relative;
	display: inline-block;
}



/* thinner and lighter grey square*/


.small_grey_rectangle {
	width: 173px;
	height: 485px;
	background-color: #cccccc;
/*	opacity: .3;
*/	margin-top: 100px;
	z-index: 1;
	position: absolute;
	display: inline-block;
	float:right

}

th {
	padding: 15px;
}


/* Website Design & Web Developement copy*/

/*.website-design-developemnt {
	width: 203px;
	height: 102px;
	font-family: Arial;
	font-size: 30px;
	letter-spacing: 1.6px;
	text-align: left;
	color: #000000;
}*/


#work {
	width: 636px;
	height: 106px;
	font-family: Arial;
	letter-spacing: 1.3px;
	text-align: left;
	color: rgba(0, 0, 0, 0.46);
	margin-left: 280px;
}



/*Web icon*/

.web {
	width: 44px;
	height: 44px;
}

/*github icon*/

 .git-hub {
	width: 46px;
	height: 45px;
	z-index: 100;
}
/* Screenshot of website*/

.habeas_site{
	width: 1000px;
	height: 600px;
	position: relative;
    margin-left: 300px;
    margin-top: -100px;
    margin-bottom: 100px;
    z-index: 101;


}


/*Yellow Footer*/


#footer {
  text-indent:    0px;
  font-size:      10px;
  text-align:     left;
  letter-spacing: 1px;
  text-align:     center; 
  padding-top:    30px;
  background-color: #fff900;
  position: 	static;




}

a {
	 color: black;
}

#footer a:hover {
  color:           #7D82A5;
  text-decoration: none;
}

/*text inside*/

